html, body{
    margin: 0;
    padding: 0;
    font-family: "helvetica", san-serif; // Overall Font Family
}

.container{
  margin: 0 10px 0 10px;
}

.header{
    background-image: url("../images/richardcover.jpg");
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 25px;
    color: #000;

}

/* Navigation */
.nav{
    opacity: 0.7;
    height: 10%;
    color: #000;
}

.nav li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin-top: 1.5%;
  color: #000;
}

.nav li:hover{
  color: #117054;
}

h1{

    margin-top: 135px;
    font-weight: bolder;
    font-size: 50px;

}

/*Button */
a.button{
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    padding:5px;
    color:#000;
    font-size: 10px;
    border-radius: 9.5%;
    transition: 0.45s;
}

a.button:hover{
    background-color: #000;
    color: #fff;
    transition: 0.45s;
}

/*About */
.About{
    height: auto;
    color: #000;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: left;

}

.About h3{
  color: #000;
    font-size: 30px;
    text-transform: capitalize;
}

.About p{
    line-height: 20px;
    margin-bottom: 15px;
}

.about_hr{
  background-image: url("../images/richardcover.jpg");
  height: 2%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25px;

}

/* Quotes Section */

.quote{
    background-image: url("../images/richardcover.jpg");
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000;
    padding-bottom: 5%;
    margin: 0 10px 0 10px;
}

.quote h3{

  font-size: 30px;
  color: white;
}

.quote h4{

  }

.quote_cards{
  display: inline-block;
  margin-left: 5px;
  text-align: center;
}

.quote_card_1{
  background-color: white;
  margin: 5px;
  padding: 0 5px 5px 5px;
}

.quote_card_1 img{
  width: 50%;
  margin-top: 5px;
}


.quote_card_2{
  background-color: white;
  margin: 5px;
  padding: 0 5px 5px 5px;
}

.quote_card_2 img{
  width: 50%;
  margin-top: 5px;
}


.quote_card_3{
  background-color: white;
  margin: 5px;
  padding: 0 5px 5px 5px;
}

.quote_card_3 img{
  width: 45%;
  margin-top: 5px;

}

.support{
  background-color: #fff;
  height: 20%;

}
.bottom{
  height: 10%;
  background-image: url("../images/richardcover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Footer */
footer{
    background-color:#fff;
    opacity: 0.7;
    height: 5%;
}

/*Grid Layout */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

/*Max width for responsiveness */
@media screen and (max-width: 992px){
  [class*="col-"] {
      width: 100%;
  }

  .nav{
      opacity: 0.7;
      height: 10%;
      color: #fff;
      background-color: #000;
  }

  .nav li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-top: 3%;
    color: #fff;
    font-size: 1.5em;
  }
}
